body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1cbec4, #ff0000);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    text-align: center;
}

.botones-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.boton-menu {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.boton-menu:hover {
    background-color: #1cbec4;
    color: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

